.header {
	font-size: 24px;
	padding: 6px 20px;
}

.header hr {
	margin-top: 10px;
}

#error_list {
	color: red;
	border: 1px solid red;
	border-radius: 5px;
	padding: 10px 0px;
	margin-bottom: 20px;
}

#error_list h3 {
	margin-top: 0px;
	padding-left: 10px;
}

#error_list ul li {
	color: red;
}

input.error {
	border: 1px solid red;
}

label small {
	color: red;
	margin-left: 10px;
}
